<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <contextName>accountsvc</contextName>
    <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
        <encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
            <!--<pattern>%-4r [%t] %5p %c{1} - %m - correlation.id=%X{x-correlation-id}%n</pattern>-->
            <!--<pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg - correlation.id=%X{x-correlation-id}%n</pattern>-->
            <pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} %replace(x-correlation-id(%X{x-correlation-id}\)){'x-correlation-id\(\)', ''} - %msg%n
            </pattern>
        </encoder>
    </appender>
    <root level="INFO">
        <appender-ref ref="CONSOLE"/>
    </root>
</configuration>